@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Pacifico|Oxygen);

.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid #fcd4fd;
    border-radius: 21px;
    height: 65px;
    width: 456px;
}
button{
    font-size: 40px;
    background:rgb(219, 192, 224);
    width: 102px;
    height: 58px;
    border-radius: 20px;
    margin: 6px;
    cursor: pointer;

}
button:hover{
    transition:  0.3s all ease;

}
   p{
    margin-bottom: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: -121px;
  }


.calculator{
    display: inline-block;
    background-color:rgb(218, 136, 238);
    padding: 23px;
    border-radius: 53px;
    border: 4px solid #b939c5;
    box-shadow: 5px 5px 15px 3px #111;
}
h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
body{
   
}